﻿@using Vistas.Controllers;
@{
    ViewBag.Title = "Home Page";
    var pizza = (Pizzas)ViewData["pizza"];
}  
<h1> Hola, soy la pagina de inicio.</h1>
<h1>@pizza.tamano</h1>
<h1>@pizza.nombrePizza</h1>